LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHz;

LOCATE COMP "led" SITE "U16";
IOBUF PORT "led" IO_TYPE=LVCMOS25;

LOCATE COMP "pin_tx" SITE "J17";
IOBUF PORT "pin_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "pin_rx" SITE "H17";
IOBUF PORT "pin_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
